<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android_2026">

        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".camera.ui.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".main.ui.HomeMainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:exported="false"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.FragmentActivity"
            android:exported="false" />
        <activity
            android:name=".sticker.ui.StickerActivity"
            android:exported="false" />
    </application>

</manifest>